@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Poppins:wght@300;400;500;600;700;800&family=Roboto&display=swap');

/* GLOBAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #0d6e67;
    --bg-color: #effaf8;
    --text-color: #18444b;
    --hover: #124b48;
    --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --p-font: 0.941rem;
    --accordion-min-height: 56px;
    --accordion-max-height: 300px;
}

section {
    padding: 50px 10%;
}

body {
    position: relative;
    background-image: url(./../img/hospital.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text-color);
}

*::selection {
    background-color: var(--bg-color);
    color: var(--bg-color);
}

/* GLOBAL SETTINGS END */

/* header */

header {
    position: fixed;
    height: 7vh;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 13px 10%;
    transition: 0.2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.logo {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
}

.logo span {
    color: var(--main-color);
    font-weight: 600;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1.1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}.navbar a:hover{
    color: var(--main-color);
}#menu-icon{
    font-size: 1.5rem;
    cursor: pointer;
}#darkmode{
    padding-left: 5px;
   
    font-size: 1.4rem;
    cursor: pointer;
}

.navbar-icon {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}

/* Style for mobile navigation menu */
.navbar-mobile {
    display: none;
    position: fixed;
    top: 50px;
    right: 0;
    width: 30%;
    background-color: #fff;
    z-index: 1000;
}

.navbar-mobile a {
    display: block;
    padding: 15px;
    color: #000;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    /* Navbar links para desktop escondidos em telas menores */
    .navbar {
        display: none;
    }

    /* Exibir o ícone de menu em telas menores */
    .navbar-icon {
        display: block;
    }

}

/* header end */

/* home */

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.home-img {
    order: 3;
}.home-img img {
    width: 70%;
}

.home-text span {
font-size: var(--medium-font);
font-weight: 500;
}
.home-text h1 {
    font-size: var(--big-font);
}
.home-text h2 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
}
.home-text p {
    text-align: center;
    font-size: var(--p-font);
    font-weight: 400;
    margin: 0.7rem 0 1rem;
}
/* .social {
    display: flex;
    flex-direction: column;
}
.social a {
    margin-bottom: 1rem;
    font-size: 22px;
    color: var(--text-color);
    transition: 0.2s;
}
.social a:hover {
    color: var(--hover);
} */
.btn {
    display: inline-block;
    background: var(--hover);
    color: #fff;
    padding: 0.7rem 1.3rem;
    border: 0.6rem;
    
}

.btn:hover {
    background: var(--main-color);
}

@media only screen and (max-width:900px) {
    .home-text p {
        text-align: justify;
    }
}

/* home end */

/* sobre */

.sobre {
    position:relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.sobre-text {
    width: 100vw;
    margin-top: 5%;
    position: relative;
}

.sobre-left {
    width: 50%;
}

.sobre-right {
    width: 50%;
}

.sobre-img {
    order: 3;
}.sobre-img img {
    width: 70%;
}

.sobre-text span {
font-size: var(--medium-font);
font-weight: 500;
}
.sobre-text h1 {
    font-size: var(--big-font);
}
.sobre-text h2 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
}
.sobre-text p {
    font-size: var(--p-font);
    font-weight: 400;
    margin: 0.7rem 0 1rem;
}

.btn-sobre {
    display: inline-block;
    background: var(--hover);
    color: #fff;
    padding: 0.7rem 1.3rem;
    border: 0.6rem;
    
}

@media only screen and (max-width: 700px) {
    .sobre-text h1 {
        font-size: var(--medium-font);
    }

    details {
        width: 80%;
    }

    .sobre-text {
        margin-top: 30px;
    }
    
}

/* sobre end */

/* footer */

footer {
    position: fixed;
    display: flex;
    background-color: var(--bg-color);
    height: 6vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    bottom: 0;
}

footer p span {
    font-weight: 500;
}

.mobile-footer {
    display: none;
}

@media only screen and (max-width: 768px) {
    .mobile-footer {
        display: block;
    }

    .mobile-footer span {
        font-size: 0.8rem;
        font-weight: 500;
    }

    .footer {
        display: none;
    }
}

/* footer end */

/* ========
    EQUIPE
   ======== */

   .box-equipe {
    position:relative;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    font-family: 'Playpen Sans', cursive;
    /* background-image: url(./../img/main-bg.jpg);
    background-position: center; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.equipe {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-bottom: 1px solid #cccccc; */
    box-shadow: 5px 5px 10px rgba(0, 104, 231, 0.3);
    /* margin: 10px; */
    width: 50%;
    background-color: var(--bg-color);
    background-position: center;
    transition: 0.2s;
    padding: 20px;
}

.equipe-screen {
    width: 70vw;
    display: flex;
    gap: 10px;
    
}

.equipe p {
    font-weight: 500;
    color: black;
}

.equipe .rm {
    font-size: var(--p-font);
    font-weight: 400;
}


.imagem img {
    width: 100px;
    margin-top: 10px;
    border: 5px solid var(--main-color);
    border-radius: 100%;
    transition: all .3s;
}

.imagem img:hover{
    border: 5px solid var(--text-color);
}

@media only screen and (max-width: 968px) {
    .imagem img {
        width: 80px;
        margin-top: 10px;
        border: 5px solid var(--main-color);
        border-radius: 100%;
    }

    .box-equipe h1 {
        display: none;
    }

    .box-equipe {
        margin-top: 5%;
    }

    .equipe-screen {
        width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
    }

    .equipe {
        width: 98%;
        cursor: pointer;
        text-decoration: none;
    }
}

/* ========
    EQUIPE END
   ======== */

   /* form section */

   .form {
        width:80%;
        background:#e6e6e6;
        border-radius:8px;
        box-shadow:0 0 40px -10px #000;
        margin:calc(50vh - 220px) auto;
        padding:20px 30px;
        box-sizing:border-box;
        
        
    }

    .form h2 {
        margin:10px 0;
        padding-bottom:10px;
        width:140px;
        color: var(--text-color);
        border-bottom:3px solid var(--main-color);
        
        
    }

    .form input {
        width:100%;
        padding:10px;
        box-sizing:border-box;
        background:none;
        outline:none;
        resize:none;
        border:0;
        font-family:'Montserrat',sans-serif;
        transition:all .3s;
        border-bottom:2px solid var(--main-color)
    }

    .form input:focus {
        border-bottom:2px solid #78788c
    }

    .form p {
        text-align: left;
    }

    .form p:before {
        content:attr(type);
        display:block;
        margin:28px 0 0;
        font-size:14px;
        color:#5a5a5a 
    }

    .form button {
        width: 60px;
        padding:8px 12px;
        margin-top: 20px;
        font-family:'Montserrat',sans-serif;
        border:2px solid var(--main-color);
        background-color: var(--text-color);
        color:#fff;
        cursor:pointer;
        transition:all .3s 
    }

    .form button:hover {
        background: var(--main-color);
        color:#fff
    }

   /* form section end */

/* SUMMARY & DETAILS */

details {
    padding: 10px;
    width: 70%;
    margin: 0 auto ;
    margin-bottom: 3rem;
    box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
    border-radius: 4px;
    overflow: hidden;
    animation-name: accordion-close;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    transform-origin: top;
  }

details summary {
    font-weight: 600;
}
  
  details[open] {
    animation-name: accordion-master;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    transform-origin: top;
  }
  
  @keyframes accordion-master {
    from {max-height: var(--accordion-min-height);}
    to {max-height: var(--accordion-max-height);}
  }
  
  @keyframes accordion-close {
    from {min-height: var(--accordion-max-height);}
    to {min-height: var(--accordion-min-height);}
  }
  
  summary {
    padding: 1rem;
    display: block;
    background: #ffffff;
    position: relative;
    cursor: pointer;
  }
  
  .summary-content {
    gap: 20px;
    display: flex;
    background-color: #fff;
    padding: 10px;
  }

  .summary-content p {
    text-align: justify;
  }

  .summary-content img {
    width: 50%;
    border: 3px solid var(--hover);
  }

  .summary-content .dispositivo {
    width: 40%;
  }

  @media only screen and (max-width:1100px) {
    .summary-content {
        flex-direction: column;
        align-items: center;
      }

    .summary-content img {
    width: 80%;
    }

    .summary-content .dispositivo {
        width: 75%;
      }
  }

  @media only screen and (max-width:768px) {
    details {
        width: 90%;
    }

    .summary-content img {
        width: 60%;
        }
  }

  summary:before {
    content: '';
  /* background-image: url(https://raw.githubusercontent.com/microsoft/fluentui-system-icons/master/assets/Chevron%20Right/SVG/ic_fluent_chevron_right_48_filled.svg); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    height: 24px;
    width: 24px;
    top: 1rem;
    right: 1rem;
    transform: rotate(90deg);
    transition: .25s transform ease;
  }
  
  details[open] > summary:before {
    transform: rotate(270deg);
  }
  
  
  details summary::-webkit-details-marker {
    display:none;
  }
  
  details > p {
    
    padding: 1rem;
    margin-bottom: 0;
    opacity: 0;
    transition: 0.3s;
    height: 0;
    background: #ffffff;
    margin-top: 0;
    padding-top: 1rem;
    animation-name: accordion-content-close;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
  }
  
  details[open] > p {
    opacity: 1;
    height: auto;
    animation-name: accordion;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    transform-origin: top;
  }
  
  /* @keyframes accordion {
    from {transform: scaleY(0); opacity: 0;}
    to {transform: scaleY(1); opacity: 1;}
  }
  
  @keyframes accordion-content-close {
    from {margin-top: 0;}
    to {margin-top: -300px;}
  } */
  
  /* details[open] > p {
    color: #333333;
    opacity: 0;
    animation-name: accordion-content;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
  } */
  
  /* @keyframes accordion-content {
    from {opacity: 0;}
    to {opacity: 1;}
  } */